$primary: #d7401b;
$primary-light: #ff7447;
$primary-dark: #9e0000;
$primary-comp: #1bb1d7;
$secondary: #3c3c3c;
$secondary-light: #666666;
$secondary-dark: #161616;
$primary-text: #ffffff;
$secondary-text: #ffffff;